@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    display: none;
}

#content, #login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

#logo-div {
    text-align: center;
}

#logo {
    width: 250px;
}

#loading-div {
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
    margin-left: 50%;
    margin-top: 35px;
}

#loading-div span {
    width: 11px;
    height: 11px;
    background-color: #202020;
    border-radius: 50%;
    position: absolute;
    transform: rotate(calc(var(--n) * 45deg));
    transform-origin: 0 40px;
    animation: loading_spin_anim 1.0s ease-in infinite;
    animation-delay: calc(var(--n) * 0.05s);
}

@keyframes loading_spin_anim {
    0%, 50% {
        background-color: #202020;
    }
    50.01%, 100% {
        background-color: #B5B5B5;
    }
}

#await-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: 95px;
}

#input-div {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#username {
    width: 310px;
    height: 44px;
    border: 4px solid #D7D7D7;
    background-color: #EFEFEF;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #555555;
}

#username:focus {
    border: 4px solid #B7B7B7;
    outline: none !important;
}

#login-btn-div {
    text-align: center;
    margin-top: 90px;
}

#login-btn {
    border: none;
    padding: 14px 50px;
    border-radius: 8px;
    background-color: #A9A9A9;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
}

#error-message {
    display: none;
    margin-top: 80px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #DD2020;
    font-size: 16px;
    font-weight: 500;
}

#awaiting-div {
    display: none;
    margin-top: 40px;
}

#header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0px;
    padding-bottom: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    overflow-x: hidden;
}

#header-logo-div {
    margin-left: 30px;
}

#header-users-div {
    margin-right: 30px;
}

#header-logo {
    width: 100px;
}

#get-users-btn {
    border: none;
    background-color: #E5E5E5;
    cursor: pointer;
}

#get-users-btn ion-icon {
    font-size: 46px;
}

#messages-div {
    position: fixed;
    top: 106px;
    bottom: 0px;
    width: 100%;
    margin-bottom: 88px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    -o-transform: translate(-45%, -50%);
    -ms-transform: translate(-45%, -50%);
    -moz-transform: translate(-45%, -50%);
    transform: translate(-45%, -50%);
}

.status-message, .public-message, .reserved-message {
    padding: 14px 10px;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 100%;
    word-wrap: break-word;
}

.status-message {
    background-color: #DCDCDC;
}

.reserved-message {
    background-color: #FFDEDE;
}

.time, .status, .message {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    width: 94%;
}

.time {
    margin-right: 6px;
    color: #AAAAAA;
}

.message {
    color: #000000;
}

#send-messages-div {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px 0px;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    overflow-x: hidden;
    background-color: #E5E5E5;
    z-index: 1;
}

#send-input-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    width: 100% !important;
}

#message-input-div {
    width: 82%;
    margin-left: 21px;
    margin-bottom: 14px;
}

#message-input {
    height: 30px;
    border: none;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    background-color: #E5E5E5;
}

#message-input:focus {
    outline: none;
}

#status-send-message-text {
    position: absolute;
    bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: #505050;
    width: 100%;
    margin-left: 20px;
}

#send-btn-div {
    margin-top: 8px;
    margin-right: 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#send-btn-div ion-icon {
    font-size: 30px;
}

#online-chat {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

#options-chat {
    background-color: #E5E5E5;
    width: 70%;
    height: 100%;
    float: right;
    text-align: center;
    overflow-y: scroll;
    opacity: 1;
}

#options-close-btn-div {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 2;
}

#options-close-btn {
    background-color: #E5E5E5;
    cursor: pointer;
    border: none;
}

#options-close-btn:hover {
    background-color: #E5E5E5;
}

#options-close-btn ion-icon {
    font-size: 30px;
}

#choose-text-talk, #choose-visibility-talk {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 46px;
    padding: 0% 12%;
}

#choose-talker, #choose-visibility {
    margin-top: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}

#choose-visibility {
    margin-bottom: 30px;
}

.option {
    position: relative;
    padding: 14px 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.option:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.option ion-icon {
    font-size: 20px;
    margin-right: 6px;
}

.option span {
    display: inline-block;
}

.check {
    position: absolute;
    right: 40px;
}

.check ion-icon {
    color: #28BB25;
    font-weight: bold;
}

.fadeIn {
    -moz-animation: fade 0.2s linear;
    -webkit-animation: fade 0.2s linear;
    -o-animation: fade 0.2s linear;
    animation: fade 0.2s linear;
}

.fadeOut {
    -moz-animation: fade 0.2s linear reverse;
    -webkit-animation: fade 0.2s linear reverse;
    -o-animation: fade 0.2s linear reverse;
    animation: fade 0.2s linear reverse;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}